<%= stylesheet_link_tag 'form'%>

<div class="heading">
  <div class="left-link">
    <%= link_to raw('<i class="fas fa-arrow-left"></i>'), root_path, class: "back-icon" %>
  </div>
  <h1 class="center-heading">Signup</h1>
</div>
<div class="forms">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.text_field :name , placeholder: "Enter your full name"%>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter email address" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "enter password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
