<%= stylesheet_link_tag 'form'%>
<%= stylesheet_link_tag 'categories'%>
<div class="heading">
  <div class="left-link">
    <%= link_to raw('<i class="fas fa-arrow-left"></i>'), user_groups_path(current_user), class: "back-icon" %>
  </div>
  <h1 class="center-heading">create category</h1>
</div>

<div class="forms">

<%= form_for @group, url: user_groups_path(current_user) do |f| %>
<div class="field">
    <%= f.text_field :name, placeholder: "Enter category name"%>
</div>

<div class="field">
    <%= f.text_field :icon, placeholder: "Icon Of category"%>
</div>

<div class="actions">
    <%= f.submit "create"%>
</div>
<%end%>
</div>