<%= stylesheet_link_tag 'form'%>
<div class="heading">
  <div class="left-link">
    <%= link_to raw('<i class="fas fa-arrow-left"></i>'), root_path, class: "back-icon" %>
  </div>
  <h1 class="center-heading">Login</h1>
</div>

<div class="forms">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= image_tag "money.png", class: "money-logo"%>
  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email or Username" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>

  <div class="actions">
  <%= f.submit "Login" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
